.bigtext {font-family: "Arial Narrow", Arial, sans-serif; font-size: 140px; font-style: normal; 
font-variant: normal; font-weight: 400; display: flex; justify-content: space-between;}
a {color: black;}
.maintext1 {font-family: "Arial Narrow", Arial, sans-serif; font-size: 140px; 
font-style: normal; line-height: 168px;
font-variant: normal; font-weight: 400; text-align: center; margin-top: 122px; margin-bottom: 85px;}

.maintext1 p {margin-bottom: 100px;}
 .arrow {text-align: center; margin-bottom: 250px;}

.maintext {text-align: center ;font-family: Arial, sans-serif; font-weight: 300; 
	font-size: 74px; line-height: 140%; margin-bottom: 50px;}

.week4 {font-family: "Arial Narrow", Arial, sans-serif; font-size: 140px; 
font-style: normal; line-height: 168px;
font-variant: normal; font-weight: 400; text-align: center; 
margin-top: 120px; margin-bottom: 120px;}